  /********************************************************/
 /*                        GLOBAL                        */
/********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: #353535;
    background-color: black;
}

* a {
    color: #efefef;
}

hr {
  width: 80px;
  border-top: 2px solid #ed9e2c;
  margin: auto;
}

h2 {
  font-weight: bold;
  font-size: 26px;
}

img {
    pointer-events: none;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    line-height:1.5;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-color: #f5f5f5;
}

#ribbon {
  height: calc(5vw + 30px);
  max-height: 90px;
  width: 100%;
}

  /********************************************************/
 /*                         HOME                         */
/********************************************************/

.nav {
  text-align: center;
  width: 800px;
  max-width: 92%;
  margin: auto;
}

.section {
    text-align: center;
    width: 800px;
    max-width: 92%;
    margin: auto;
}

/********************************************************/
/*                         SWITCH                       */
/********************************************************/

.zoom {
  display: inline-flex;
  position: relative;
}

.zoom > img {
  margin: auto;
  opacity: 1;
}

.trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
}

.trigger:checked ~ img {
  transform: scale(2.5) translateY(5%);
}

/********************************************************/
/*                         FOOTER                       */
/********************************************************/

#footer {
    background-color: white;
    margin: 20px;
}

/********************************************************/
/*                         PHONE                        */
/********************************************************/

@media screen and (max-width: 1200px) {

  #title {
    width: 140%;
    margin-left: -20%;
  }

}

@media screen and (max-width: 600px) {

  body {
  font-size: 16px;
  }

  * {
    font-size: 19px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  .trigger:checked ~ img {
    transform: scale(3.2) translateY(5%);
  }

}
