  /********************************************************/
 /*                        GLOBAL                        */
/********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    color: #353535;
}

* a {
    color: #efefef;
}

hr {
  width: 80px;
  border-top: 2px solid #ed9e2c;
  margin: auto;
}

h2 {
  font-weight: bold;
  font-size: 26px;
}

h4 {
  font-size: 17px;
  font-weight: normal;
}

img {
    pointer-events: none;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    line-height:1.5;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-color: #f5f5f5;
}

#SSU {
  height: calc(5vw + 30px);
  max-height: 90px;
  width: 100%;
}

  /********************************************************/
 /*                         HOME                         */
/********************************************************/

#title {
    width: calc(140% - (100vw - 1200px));
    margin-left: calc(-20% + (50vw - 600px));
    min-width: 100%;
    display: block;
}

#title_m {
  width: 100%;
  display: none;
}

.intro {
  text-align: center;
  width: 800px;
  max-width: 92%;
  margin: auto;
}

#date {
  text-align: right;
  margin: auto;
  width: 92%;
  max-width: 800px;
  margin-bottom: 2vw;
}

/********************************************************/
/*                         PICS                         */
/********************************************************/

.info {
  width: 92%;
  max-width: 800px;
  margin: auto;
  background-color: lightgrey;
  padding: 10px 12px 14px 12px;
  box-shadow: #00000020 0px 4px 4px 0px;
}

.picture {
  font-size: 0;
  width: 92%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  border-radius: 70px 170px 70px 170px;
  border: 3px solid #8380bd;
}

.picture img {
  width: 100%;
  transition: 0.2s ease-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.name {
  position: relative;
  margin: auto;
  background-color: #8380bd30;
  text-align: center;
  width: 280px;
  height: auto;
  margin-top: 1vw;
  padding: 10px 3px 14px 3px;
  border-radius: 18px 40px 18px 40px;
  box-shadow: inset -2px 0px 10px #00000040;
}

/********************************************************/
/*                         SWITCH                       */
/********************************************************/

.zoom {
  display: inline-flex;
  position: relative;
}

.zoom > img {
  margin: auto;
  opacity: 1;
}

.trigger {
  position: absolute;
  width: 100%;
  height: 100%
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
}

.trigger:checked ~ img {
  transform: scale(2.5) translateY(5%);
}

/********************************************************/
/*                         FOOTER                       */
/********************************************************/

#footer {
  width: calc(140% - (100vw - 1200px));
  margin-left: calc(-20% + (50vw - 600px));
  min-width: 100%;
  display: block;
}

#footer_m {
  width: 100%;
  display: none;
}

/********************************************************/
/*                         PHONE                        */
/********************************************************/

@media screen and (max-width: 1200px) {

  #title {
    width: 140%;
    margin-left: -20%;
  }

  #footer {
    width: 140%;
    margin-left: -20%;
  }

  .picture {
    border-radius: 6vw 14vw 6vw 14vw;
  }

}

@media screen and (max-width: 600px) {

  #title {
      display: none;
  }

  #title_m {
    display: block;
  }

  #footer {
      display: none;
  }

  #footer_m {
    display: block;
  }

  .intro {
    width: 350px;
  }

  .row {
    width: 100%;
  }

  .column {
      width: 100%;
    }

  .column_m {
    width: 100%;
    margin: 0;
  }

  body {
  font-size: 16px;
  }

  * {
    font-size: 19px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  .picture {
    width: 100%;
    margin: auto;
    border-radius: 0;
    border-width: 3px 0px 3px 0px;
  }

  .name {
    margin-top: 0px;
    padding: 6px 0 11px 0;
    height: auto;
    width: 100%;
    box-shadow: inset 0 -10px 8px -10px #00000060;
    border-radius: 0;
  }

  .trigger:checked ~ img {
    transform: scale(3.2) translateY(5%);
  }

}
